### POST check/expirydate <span class="beta">BETA</span>


> Sandbox URL:

```
POST https://sandbox.gestpay.net/api/v1/check/expirydate/
```

<%#
> Production URL: 

```
POST https://ecomms2s.sella.it/api/v1/check/expirydate/
```
%>

> Request body: 

```json
{
  "shopLogin":"",
  "creditcard":{
    "expMonth":"",
    "expYear":""
  }
}
```

Provides a formal validity check of the Exipry Date.

#### Request 

Headers: 

To receive a valid response from Gestpay you must use one of these headers: 

| Header          | Value                         | Description                                                        |
| --------------- | ----------------------------- | ------------------------------------------------------------------ |
| `Authorization` | `apikey "{merchant Api Key}"` | The merchant API key can be found in Gestpay Merchant Back-Office. |
| `paymentToken` | `paymentToken: "{paymentToken}"` | A payment token received during the payment process |


request body details: 

| Parameter | Description | 
| --------- | ----------- | 
| `shopLogin` | The shop identifier. | 
| `creditcard.number` | The credit card number to check.

#### Response 

> Success response example:<br>
> `200 OK`

```json
{
  "error":{  
    "code":"0",
    "description":"request correctly processed"
  },
  "payload": {
    "result": "OK"
  }
}
```

See the section [Handling responses & errors](#handling-responses-amp-errors) to learn how Gestpay reports errors.

The response contains the language set for Gestpay. 

Response `payload` details:


| Field          | Description 
| -------------- | -----------
| `result`   | `OK` of `KO`
