### POST payment/update <span class="beta">BETA</span>


> Sandbox URL:

```
POST https://sandbox.gestpay.net/api/v1/payment/update/{paymentID}
```

<%#
> Production URL: 

```
POST https://ecomms2s.sella.it/api/v1/payment/update/{paymentID}
```
%>


> Request Body: 

```json
{
  "shopLogin":"",
  "amount":"",
  "shippingDetails":{
    "shipToName":"",
    "shipToStreet":"",
    "shipToState":"",
    "shipToCountryCode":"",
    "shipToZip":"",
    "shipToStreet2":""
  },
  "orderDetails":{
    "fraudPrevention":{
      "submitForReview":"",
      "orderDateTime":"",
      "orderNote":"",
      "source":"",
      "submissionReason":"",
      "beaconSessionID":"",
      "vendorID":"",
      "vendorName":""
    },
    "customerDetail":{
      "profileID":"",
      "merchantCustomerID":"",
      "firstName":"",
      "middleName":"",
      "lastname":"",
      "primaryEmail":"",
      "secondaryEmail":"",
      "homePhone":"",
      "mobilePhone":"",
      "dateOfBirth":"",
      "gender":"",
      "socialSecurityNumber":"",
      "company":"",
      "createdAtDate":"",
      "verifiedEmail":"false",
      "accountType":"",
      "social":{
        "network":"",
        "publicUsername":"",
        "communityScore":"",
        "profilePicture":"",
        "email":"",
        "bio":"",
        "accountUrl":"",
        "following":"",
        "followed":"",
        "posts":"",
        "id":"",
        "authToken":"",
        "socialData":""
      }
    },
    "shippingAddress":{
      "profileID":"",
      "firstName":"",
      "middleName":"",
      "lastname":"",
      "streetName":"",
      "streetname2":"",
      "houseNumber":"1",
      "houseExtention":"",
      "city":"",
      "zipCode":"",
      "state":"",
      "countryCode":"",
      "email":"",
      "primaryPhone":"",
      "secondaryPhone":"",
      "company":"",
      "stateCode":""
    },
    "billingAddress":{
      "profileID":"",
      "firstName":"",
      "middleName":"",
      "lastname":"",
      "streetName":"",
      "streetname2":"",
      "houseNumber":"1",
      "houseExtention":"",
      "city":"",
      "zipCode":"",
      "state":"",
      "countryCode":"",
      "email":"",
      "primaryPhone":"",
      "secondaryPhone":"",
      "company":"",
      "stateCode":""
    },
    "productDetails":[
      {
        "productCode":"",
        "SKU":"",
        "name":"",
        "description":"",
        "quantity":"",
        "price":"",
        "unitPrice":"",
        "type":"",
        "vat":"",
        "discount":"",
        "requiresShipping":"",
        "condition":"",
        "seller":"",
        "category":"",
        "subCategory":"",
        "brand":"",
        "deliveryAt":""
      }
    ],
    "discountCodes":[
      {
        "Amount":"",
        "Code":""
      }
    ],
    "shippingLines":[
      {
        "Price":"",
        "Title":"",
        "Code":""
      }
    ]
  }
}
```

Deletes an authorized transaction. 

#### Request 

Headers: 

| Header          | Value                         | Description                                                        |
| --------------- | ----------------------------- | ------------------------------------------------------------------ |
| `Authorization` | `apikey "{merchant Api Key}"` | The merchant API key can be found in Gestpay Merchant Back-Office. |

Request Body: 

| Field | Description 
| -------------- | -----------
| `shopLogin` | the merchant's code 
| `bankTransactionID` | ID of the transaction assigned by Gestpay 
| `shopTransactionID` | shop transaction ID value 
| `paymentID`         | The payment ID 
| `amount` | the amount to refund 
| `currency` | [currency ISO code](#currency-codes) 
| `refundReason` | a free-text reason for the refund. Used with fraud protection. 
| `chargeBackFraud` | Flag for risk: <ul><li>`Y` - chargeback for fraud</li><li>`N` - chargeback not for a fraud</li></ul>
| `orderDetail.productDetails` | in case you are using _Klarna_, fill this fields with info about the products that are refunded. A description of this field is in [OrderDetails](#orderdetails). 


#### Response 

> Success Response:<br>
> `200 OK`

```json
{
  "error":{  
    "code":"0",
    "description":"request correctly processed"
  },
  "payload":{
    "transactionType":"update",
    "transactionResult":"OK",
    "paymentID":"1112312421"
  }
}
```

See the section [Handling responses & errors](#handling-responses-amp-errors) to learn how Gestpay reports errors.

Response `payload` details:


| Field          | Description 
| -------------- | -----------
| `transactionType` | always `refund` for this operation
| `transactionResult` | `OK` ok `KO`
| `bankTransactionID` | ID of the transaction assigned by Gestpay 
| `shopTransactionID` | shop transaction ID value 
| `paymentID`         | The payment ID 