### POST payment/create


> Sandbox URL:

```
POST https://sandbox.gestpay.net/api/v1/payment/create/
```

> Production URL: 

```
POST https://ecomms2s.sella.it/api/v1/payment/create/
```


> Example request: 

```json
{  
  "shopLogin":"",
  "amount":"",
  "currency":"",
  "shopTransactionID":"",
  "buyerName":"",
  "buyerEmail":"",
  "languageId":"",
  "customInfo":{  
    "{myCustomInfo1}":"{myCustomInfoValue1}",
    "{myCustomInfo2}":"{myCustomInfoValue2}"
  },
  "paymentChannel":{
    "channelType":["(EMAIL/QRCODE)"]
  },
  "requestToken":"",
  "clientIP":"",
  "itemType":"",
  "recurrent":"",
  "paymentType":[],
  "shippingDetails":{  
    "shipToName":"",
    "shipToStreet":"",
    "shipToState":"",
    "shipToCountryCode":"",
    "shipToZip":"",
    "shipToStreet2":""
  },
  "orderDetails":{  
    "fraudPrevention":{  
      "submitForReview":"",
      "orderDateTime":"",
      "orderNote":"",
      "submissionReason":"",
      "beaconSessionID":"",
      "vendorID":"",
      "vendorName":"",
      "source":""
    },
    "customerDetail":{  
      "profileID":"",
      "merchantCustomerID":"",
      "firstName":"",
      "middleName":"",
      "lastname":"",
      "primaryEmail":"",
      "secondaryEmail":"",
      "homePhone":"",
      "mobilePhone":"",
      "dateOfBirth":"",
      "gender":"",
      "socialSecurityNumber":"",
      "company":"",
      "createdAtDate":"",
      "verifiedEmail":"",
      "accountType":"",
      "social":{  
        "network":"",
        "publicUsername":"",
        "communityScore":"",
        "profilePicture":"",
        "email":"",
        "bio":"",
        "accountUrl":"",
        "following":"",
        "followed":"",
        "posts":"",
        "id":"",
        "authToken":"",
        "socialData":""
      }
    },
    "shippingAddress":{  
      "profileID":"",
      "firstName":"",
      "middleName":"",
      "lastname":"",
      "streetName":"",
      "streetname2":"",
      "houseNumber":"",
      "houseExtention":"",
      "city":"",
      "zipCode":"",
      "state":"",
      "countryCode":"",
      "email":"",
      "primaryPhone":"",
      "secondaryPhone":"",
      "company":"",
      "stateCode":""
    },
    "billingAddress":{  
      "profileID":"",
      "firstName":"",
      "middleName":"",
      "lastname":"",
      "streetName":"",
      "streetname2":"",
      "houseNumber":"",
      "houseExtention":"",
      "city":"",
      "zipCode":"",
      "state":"",
      "countryCode":"",
      "email":"",
      "primaryPhone":"",
      "secondaryPhone":"",
      "company":"",
      "stateCode":""
    },
    "ProductDetails": [{
        "ProductCode": "135798642",
        "SKU": "AB-333222-WFG-4",
        "Name": "Porche Carrera scale model",
        "Description": "Porche Carrera scale model",
        "Quantity": "1",
        "Price": "50.5",
        "UnitPrice": "50.5",
        "Type": "1",
        "Vat": "22",
        "Category": "Scale Models",
        "Subcategory": "cars",
        "Brand": "LittleCars",
        "RequiresShipping": "true",
        "DeliveryAt": "2017-12-29",
        "Condition": "new"
      },
      {
        "ProductCode": "135798642",
        "SKU": "AB-333222-WFG-5",
        "Name": "Ferrari scale model",
        "Description": "Ferrari scale model",
        "Quantity": "1",
        "Price": "50.5",
        "UnitPrice": "50.5",
        "Type": "1",
        "Vat": "22",
        "Category": "Scale Models",
        "Subcategory": "cars",
        "Brand": "LittleCars",
        "RequiresShipping": "true",
        "DeliveryAt": "2017-12-29",
        "Condition": "new"
      }
    ],
    "discountCodes":[{  
      "Amount":"",
      "Code":""
    }],
    "shippingLines":[{  
      "Price":"",
      "Title":"",
      "Code":""
    }]
  },
  "transDetails": {
    ...
  }
}
```

Initialize the payment

#### Request 

Headers: 

| Header          | Value                         | Description                                                        |
| --------------- | ----------------------------- | ------------------------------------------------------------------ |
| `Content-Type` | `application/json` |  |
| `Authorization` | `apikey {merchant Api Key}` | The merchant API key can be found in Axerve Merchant Back-Office. |

Input Body: 

(Fields in **bold** are mandatory)

| Field               | Description             
| ------------------- | ----------------------- 
| **`shopLogin`**         | Your shop login         
| **`amount`**            | The amount to capture
| **`currency`**          | [ISO currency code](#currency-codes)
| **`shopTransactionID`** | the shop transaction ID 
| `buyerName`       | buyer’s name 
| `buyerEmail`      |  buyer’s e-mail address. 
| `customInfo`      | An object containing optional customised parameters. Use the `customInfo` parameter name as the key. 
| `paymentChannel`  | The payment channel for this payment. Can be `EMAIL` or `QRCODE`.
| `requestToken`    | `MASKEDPAN` for a Standard Token; any other value for Custom Token.
| `languageId`      | language to use for e-mails to the buyer 
| `clientIP`        | For PayPal Billing Agreements it is required only in "one click" mode transaction. <br> For AMEX transaction not in Euro, in this field the merchant could provide the client IP address to activate the Enhanced Authorization AAV.<br>**Mandatory if you use Axerve Guaranteed Payment with S2S.** 
| `itemType`     | Item Category: `digital`/`physical` (If `physical` the `ShippingDetails` have to be filled)  
| `recurrent` | `True` if it's a recurrent payment, `False` if not.
| `responseURLs` | where to redirect the user after the payment. 
| `shippingDetails` | contains the shipping address. Used for [paypal seller protection](<%= config[:doc_url] %>/soap/alternative-payments/paypal/#paypal-seller-protection).
| [`OrderDetails`](#orderdetails) | contains every other info needed to handle the payment. It is used by  Axerve Guaranteed Payment. 
| `transDetails` | Contians informations for 3DS 2.0 authentication | object | - |

- children of `ShippingDetails` :

|               |           |          |       | 
| ------------- | --------- | -------- |------ |
| `shipToName` | shipping name 
| `shipToStreet` | shipping address 
| `shipToState` | shipping state (see [Paypal State Codes](#paypal-state-amp-province-codes) table) 
| `shipToCountryCode` | shipping country code (see [Paypal Country Codes](#paypal-country-codes) table) 
| `shipToZip` | the shipping Zip 
| `shipToStreet2` | an additional field for the shipping  address 

- children of `transDetails`: 

| Name | Description | Format/length | 
| ---- | ----------- | --------- | 
| `type` | Transaction type. Possible values:<ul><li>01F: Recurring first</li><li>01N: Recurring next</li><li>03F <span class='beta'>Under development</span>: Unscheduled MIT first</li><li>03N <span class='beta'>Under development</span>: Unscheduled MIT next</li><li>08: Mail Order</li><li>09: Telephone Order</li><li>EC: Ecommerce</li><li>NPA: only authentication - not payment</li></ul> If not evaluated, the Axerve E-commerce Solutions rule is applied. | 3 |
| `authenticationAmount` | 3DS authentication amount. If not filled, the authentication amount used will be the amount of the transaction (amount field previously described). The authenticationAmount should be equal or higher than amount, otherwise it will be ignored and the authentication will be made using the amount value. If the authenticationAmount field is used and it is higher than the transaction amount, it is recommended to notify the buyer that the authentication amount will differ from the authorization amount. | max 9 (see the `amount` field) |
| `threeDSAuthResult` | Result of the 3DS authentication done with another provider (Axerve will manage the authorization request, considering the 3DS phase already completed) | object |  |
| <div class="inside-icon"></div> `authenticationLevel` | Transaction is successfully authenticated by 3DS:<ul><li>1H: 3DS 1.0 half</li><li>1F: 3DS 1.0 full</li><li>2F: 3DS 2.0 frictionless</li><li>2C: 3DS 2.0 challenge</li><li>2E: 3DS 2.0 exemption</li><li>OL: One Leg - Authentication not required</li></ul> |  2 
| <div style="white-space: nowrap;"><div class="inside-icon"></div> `authenticationStatus`</div> | Status of the authentication | 1
| <div class="inside-icon"></div> `XID` | Transaction unique id assigned by Directory Server | 36  
| <div class="inside-icon"></div> `AV` | Cardholder Authentication Verification Value, proof of authentication done | 28 
| <div class="inside-icon"></div> `ECI` | Electronic Commerce Indicator |  2 
| <div class="inside-icon"></div> `AVAlgorithm` | Cardholder Authentication Verification Algoritm, valorized only with 3DS 1.0 | 2 
| <div class="inside-icon"></div> `threeDsVersion ` | EMVco protocol version identifier | 8 
| [`threeDsContainer`](#3ds-2-0-fields) | Container of additional data defined in 3DS2 protocol, that better define the transaction. The data here included will be used for assessing the risk level of the transaction with the purpose of ensuring security without affecting the buyer's experience | object |  |
| `recurringTransaction` | Contains informations necessary in case of recurring payment | object| |
| <div class="inside-icon"></div> `expiry` | Required for Recurring Payments. Date after which no further transaction shall be performed. <br>Format: YYYYMMDD | 8 |
| <div class="inside-icon"></div> `frequency` | Required for Recurring Payments. It indicates the minimum number of days between two transactions of the same plan | 4 |
| `previousTransDetails` | Contains the details of a previous authenticated transaction for the same cardholder on the same merchant. If present, it can help to increase the chances of a frictionless authentication | object |
| <div class="inside-icon"></div> `authData` | Prior Transaction Authentication Data | string |
| <div class="inside-icon"></div> `authMethod` | Prior Transaction Authentication Method. Possible values: <ul><li>01: Frictionless authentication occurred by ACS </li><li>02: Cardholder challenge occurred by ACS </li><li>03: AVS verified </li><li>04: Other issuer methods</li></ul> | 2 |
| <div style="white-space: nowrap;"><div class="inside-icon"></div> `authTimestamp`</div> | Prior Transaction Authentication Timestamp. <br>Format: YYYYMMDDHHMM | 12 |
| <div class="inside-icon"></div> `acsID` | Prior Transaction Authentication Reference (ACS Transaction ID) | 36 |
| <div style="white-space: nowrap;"><div class="inside-icon"></div> `paymentID`</div> | Prior payment identifier ID (if it was managed by Axerve E-commerce Solutions) |  |
| <div class="inside-icon"></div> `XID` | Prior Transaction unique ID assigned by Directory Server | 36 |

##### Response URLs 

With the REST Api you can set the redirect url for the success or failure case, along with the Server to server notification URL. 

| Field | Description | 
| ----- | ----------- | 
| `buyerOK` | The URL where the user will be redirected in case of success.
| `buyerKO` | The URL where the user will be redirected in case of failure. 
| `serverNotificationURL` | Axerve E-commerce Solutions will try to reach this URL to notify the merchant of the payment result.

#### Response 

> Success Response:<br>
> `200 OK`

```json
{
   "error":{  
      "code":"0",
      "description":"request correctly processed"
   },
   "payload":{  
    "paymentToken":"Asjdlfad5543AA33a",
    "paymentID":"0000000001",
    "userRedirect": {
      "href": ""
    }
  }
}
```


See the section [Handling responses & errors](#handling-responses-amp-errors) to learn how Axerve E-commerce Solutions reports errors.


`payload` details:

| Field | Description | 
| ----- | ----------- | 
| [`paymentToken`](#payment-token)   | A token related to this transaction. 
| `paymentID` | The ID of this transaction, assigned by Axerve E-commerce Solutions. 
| `userRedirect.href` | The address to whom redirect the user.